@charset "utf-8"

*  { margin: 0; box-sizing: border-box; }

header {
    font-size: 50px;
    line-height: 75px;
    font-family: 'Montserrat', sans-serif;
    color: #d5d7dd;
    background-color: #2b5394;
}

a:link {
    color: #d5d7dd
}

a:visited {
    color: #d5d7dd
}

a:hover {
    color: #ff3399
}

a:active {
    color: #e60073
}

nav {
	font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #d5d7dd;
    background-color: #60ab5d;
}

h1 {
	font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #d5d7dd;
    background-color: #60ab5d;
}

h2 {
	font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #2b5394;
    background-color: #d5d7dd
}

h3 {
	font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #2b5394;
    background-color: #d5d7dd
}

body {
	font-size: 16px;
    font-family: 'Montserrat', 'Open Sans Condensed', sans-serif;
    color: #2b5394;
    background-color: #d5d7dd
}
header img {
	width: auto;
	height: auto;
	float: left;
}

footer {
	font-size: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #2b5394;
    background-color: #d5d7dd
}
